$primary-color: #FF8200;
$primary-color-dark: #C76700;
$secondary-color: #444054;
$secondary-color-dark: #2F243A;
$background-color: white;
$background-color-dark: #F4F4F4;

$mobile-breakpoint: 425px;