@use "config" as *;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.button {
    // DISPLAY
    display: block;

    // FONT
    font-size: 1rem;
    font-weight: 600;

    // PADDING
    padding: 1rem 2rem;
    
    // BORDER
    border: none;
    border-radius: 10px;
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.primary-button {
    @extend .button;

    color: white;
    background-color: $primary-color;
}

.secondary-button {
    @extend .button;

    // COLOR
    color: $primary-color;
    background-color: white;

    // BORDER
    outline: 4px solid $primary-color;
    outline-offset: -4px;
}
