@use "config" as *;

* {
    // LAYOUT
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    // TEXT & FONT
    font-family: inherit;
}

body {
    margin: 0;
}

p {
    text-align: justify;
}

.button {
    // DISPLAY
    display: block;

    // SIZE
    width: 9rem;

    // TEXT & FONT
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;

    // PADDING
    padding: 1.25rem 0rem;
    
    // BORDER
    border: none;
    border-radius: 8px;
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.primary-button {
    @extend .button;

    color: white;
    background-color: $primary-color;
}

.secondary-button {
    @extend .button;

    // COLOR
    color: $primary-color;
    background-color: transparent;

    // BORDER
    outline: 3px solid $primary-color;
    outline-offset: -3px;
}
