@use "config" as *;

.container {
    // DISPLAY
    display: flex;

    // LAYOUT
    align-items: flex-start;
    justify-content: space-between;

    // PADDING
    padding: 5rem 10%;
}

.textContainer {
    width: 43%;
}

.textContainer > h2 {
    // FONT & TEXT
    font-size: 2.75rem;
    
    // MARGIN
    margin-top: 0;
}

.textContainer > button, .textContainer > a {
    // DISPLAY
    display: block;

    // MARGIN
    margin-top: 2rem;
}

.image {
    // SIZE
    width: 43%;
    aspect-ratio: 1/1;

    // COLOR
    background-color: $background-color-dark;
}