@use "config" as *;

.container {
    // DISPLAY
    display: grid;

    // LAYOUT
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;  // auto prevents the first row from being stretched by the image
    column-gap: 10%;

    @media only screen and (min-width: $mobile-breakpoint) {
        grid-template-columns: 1fr 1fr;
    }

    // PADDING
    padding: 5rem 10%;
}

.container > * {
    @media only screen and (min-width: $mobile-breakpoint) {
        grid-column-start: 2;
    }
}

.container.reversed > * {
    @media only screen and (min-width: $mobile-breakpoint) {
        grid-column-start: 1;
    }
}

.container > h2 {
    // FONT & TEXT
    font-size: 2.75rem;
    
    // MARGIN
    margin-top: 0;
}

.container button, .container a {
    // DISPLAY
    display: block;

    // MARGIN
    margin-top: 2rem;
}

.image {
    // SIZE
    width: 100%;
    height: fit-content;  // without this, the aspect-ratio makes the image too big on small screens
    aspect-ratio: 1/1;
    
    // LAYOUT
    @media only screen and (min-width: $mobile-breakpoint) {    
        grid-column-start: 1;
        grid-row: 1 / 3;
    }
}

.container.reversed > .image {
    @media only screen and (min-width: $mobile-breakpoint) {    
        grid-column-start: 2;
    }
}